@model List<CategoryModel>

@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th>
                    <h5>Categories</h5>
                    <hr />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a asp-action="Index" asp-controller="ProductsReportAjax">-- All Categories --</a>
                </td>
            </tr>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Index" asp-controller="ProductsReportAjax" asp-route-categoryId="@category.Id">@category.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}